.productList--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

app-product {
  width: 30%;
}

.icons__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container__icon--righted {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

app-edit-product-icon {
  width: 33%;
  height: 40%;
}
@media screen and (max-width: 584px) {
  app-product {
    width: 80%;
  }
}
