.headerContainer {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 153, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 0;
}

.header__menuButton--burger {
  width: 3em;
  height: 2.5em;
  margin-left: 0.3em;
}


fa-icon {
  margin-top: .5%; 
  margin-right: 1%; 
  cursor: pointer;
}

.haveBadge:after{
content:attr(value);
font-size:20px;
background: wheat;
border-radius:99px;
padding:0px 5px 0 5px;
position:relative;
left:-8px;
top:-18px;
opacity:0.9;

}