.categoriesContainer--flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2em;
  margin-bottom: 2em;
}

button {
  min-width: 20%;
  height: 3em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #2e3027;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

button:active {
  background-color: #f70505;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button:focus {
  background-color: #f70505;
}
