<h1>Product Details</h1>

<div class="container--page" *ngIf="prodcutState$ | async | idProductFilter:productID as product">
    <div class="card">
        <img [src]="product.imageUrl" [alt]="product.title" class="card__productImage">
        <div class="container--editIcon">
            <app-ngbd-modal-product-form [product]="product" *appShowIfPermission="'admin'">
            </app-ngbd-modal-product-form>
        </div>
        <div class="container">
            <h2><b>{{product.title | titlecase}}</b></h2>
            <p>{{product.description}}</p>
            <div class="container--row">
                <div class="container__price">
                    <label for="price">Price: </label>
                    <span id="price">{{product.price | currency }}</span>
                </div>

                <app-shopping-list-product-adder-remover [product]="product" [includeCounter]="true"
                    *appShowIfPermission="'user'">
                </app-shopping-list-product-adder-remover>

            </div>

        </div>

    </div>

</div>

<button type="button" (click)="backBtnclicked()" class="btn btn-secondary btn-lg">Back</button>