<div id="navbar" class="sidenav" [style.width]="isOpen  ? '250px': '0'">
    <a href="#" class="closebtn" (click)="closeMenuBar()">&times;</a>

    <a *ngFor="let linkName  of linksNames" href="#" (click)="onLinkClicked(linkName)">{{linkName}}</a>

    <div class="navbar__socialIcon--end">
        <app-social-link>
            <a #link href="https://www.facebook.com/" class="alink">
                <img alt="Facebook" src="assets/socialIcons/facebook.png" class="image--link">
            </a>
            <a #link href="https://www.github.com/" class="alink">
                <img alt="Github" src="assets/socialIcons/github.png" class="image--link">
            </a>

            <a #link href="mailto: abc@example.com" class="alink">
                <img alt="Mail" src="assets/socialIcons/mail.png" class="image--link">
            </a>
        </app-social-link>

    </div>
</div>