.headerSection--full {
  width: 100%;
  height: 3em;
}

.img--wallBackground {
  height: 16em;
  width: 100%;
  margin-bottom: 1.5em;
}

.main__view--page {
  box-shadow: 2px 4px 8px 0 rgba(0.2, 0.2, 0.2, 0.2);
  padding: 3em;
}
