.appLayout--fullPage {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0.3em 0 0;
  padding: 0.5em;
}

.headerSection--full {
  width: 100%;
  height: 3em;
}

.img--wallBackground {
  width: 100%;
  height: 16em;
  background-size: cover;
  object-fit: cover;
}

.main--Page-mainContent {
  box-shadow: 8px 4px 8px 0 rgba(0.2, 0.2, 0.2, 0.2);
  min-width: 100vw;
  min-height: 100vh;
}

/* .viewPage--full {
  min-width: 100%;
  min-height: 100%;
} */

h1 {
  color: #343434;
  font-weight: normal;
  font-family: 'Ultra', sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  text-shadow: 0 2px white, 0 3px #777;
  margin-bottom: 1em;
}

p {
  font-size: 2em;
}
