.appLayout--fullPage {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0.3em 0 0;
}

.headerSection--full {
  width: 100%;
  height: 3em;
  position: fixed;
  top: 0;
  z-index: 2;
}

.img--wallBackground {
  width: 100%;
  height: 12em;
  background-size: cover;
  object-fit: cover;
}

.main--Page-mainContent {
  box-shadow: 8px 4px 8px 0 rgba(0.2, 0.2, 0.2, 0.2);
  min-width: 100vw;
  min-height: 100vh;
  z-index: 0;
}

h1 {
  color: #343434;
  font-weight: normal;
  font-family: 'Ultra', sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  text-shadow: 0 2px white, 0 3px #777;
  padding: 1em;
  text-align: center;
}

p {
  font-size: 2em;
}

.page {
  width: 100%;
}
