<main>
    <div class="headerSection--full">
        <app-header (menuBarTogglerEvent)="toggleMenuBar()"></app-header>
    </div>
    <app-sidebar-menu [isOpen]="menubarMode" (onCloseMenuBar)="toggleMenuBar()"
        (pageNavigaterEvent)="changePage($event)" [linksNames]="pagesNames"></app-sidebar-menu>
    <img class="img--wallBackground" src="assets/wallBackground.jpg">


    <main [ngSwitch]="currentPage">
        <div *ngSwitchCase="'Home'" class="main__view--page">
            <div>
                <h1>Buy our products</h1>
            </div>

            <app-category-selector [categoriesList]="categoriesList"
                (categorySelectedEvent)="sortProductsByCategory($event)"></app-category-selector>

            <app-products-list [products]="productList" (onProductClicked)="productSelected"></app-products-list>
        </div>

        <div *ngSwitchCase="'About'" class="main__view--page">
            <div>
                <h1>About</h1>
            </div>
            <p>
                bla bla bla bla
                bla bla bla bla
                bla bla bla bla
                bla bla bla bla
                bla bla bla bla
                bla bla bla bla
            </p>
        </div>

        <div *ngSwitchCase="'Products'" class="main__view--page">
            <div>
                <h1>Product details</h1>
            </div>

        </div>

        <div *ngSwitchCase="'Contact'" class="main__view--page">
            <div>
                <h1>Contact</h1>
            </div>

        </div>

    </main>