<main>
    <div class="headerSection--full">
        <app-header (menuBarTogglerEvent)="toggleMenuBar()"></app-header>
    </div>
    <app-sidebar-menu [isOpen]="menubarMode" (onCloseMenuBar)="toggleMenuBar()"
        (pageNavigaterEvent)="changePage($event)" [linksNames]="pagesNames"></app-sidebar-menu>
    <img class="img--wallBackground" src="assets/wallBackground.jpg">


    <main [ngSwitch]="currentPage">
        <div *ngSwitchCase="'Home'" class="main__view--page">
            <div>
                <h3>Buy our products</h3>
            </div>
            <app-category-selector [categoriesList]="categoriesList"></app-category-selector>
            <app-products-list [products]="productList" (onProductClicked)="productSelected"></app-products-list>
        </div>
        <div *ngSwitchCase="'About'" class="main__view--page">
            <div>
                <h3>About</h3>
            </div>

        </div>
        <div *ngSwitchCase="'Products'" class="main__view--page">
            <div>
                <h3>Products</h3>
            </div>

        </div>
        <div *ngSwitchCase="'Contact'" class="main__view--page">
            <div>
                <h3>Contact</h3>
            </div>

        </div>

    </main>