.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #343434;
  font-weight: normal;
  font-family: 'Ultra', sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  text-shadow: 0 2px white, 0 3px #777;
  text-align: center;
}

p {
  font-size: 2em;
}
