.productList--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

app-product {
  width: 30%;
}

@media screen and (max-width: 584px) {
  app-product {
    width: 80%;
  }
}
