.productList--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
}

app-product {
  width: 30%;
  height: 30%;
}

@media screen and (max-width: 584px) {
  app-product {
    width: 80%;
  }
}
