.card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2em;
}

.card__productImage {
  width: 100%;
  height: 100%;
}
.card__title--top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  color: whitesmoke;
}

.card__title--top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  color: whitesmoke;
}

.car__description {
  min-height: 3em;
  margin-left: 0.2em;
}
