.card--vertical {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card__productImage {
  flex-grow: 1;
  padding: 6px 6px 6px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  max-width: 50%;
}

.product__details {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  padding-left: 1em;
  font-size: 1em;
  width: 100%;
  height: auto;
}

h1 {
  color: #d54d7b;
  font-family: 'Great Vibes', cursive;
  font-size: 3em;
  line-height: 3em;
  font-weight: normal;
  margin-bottom: 0.2em;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  padding: 0;
}
.card__productPrice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
  width: 15%;
  font-size: 1.5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 1em;
}

p {
  font-size: 1.3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1em;
  margin-left: 1em;
}
.btn {
  margin-top: auto;
  margin-bottom: 2em;
  min-width: 2.5em;
  max-width: 4.5em;
  height: 3em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #2e3027;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}
