.sidenav {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.navbar__socialIcon--end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
  width: 100%;
  min-height: 15%;
  margin-top: auto;
  margin-bottom: 3em;
  padding-left: 1em;
}

.image--link {
  border-radius: 60%;
  height: 11%;
  width: 11%;
}
.alink {
  margin: 0;
  padding: 0;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.haveBadge:after {
  content: attr(value);
  font-size: 20px;
  background: rgb(243, 233, 216);
  border-radius: 99px;
  padding: 0px 5px 0 5px;
  position: relative;
  left: 5px;
  top: -2px;
  opacity: 1;
}
