<h1>Product Details</h1>

<div class="container--page">
    <div class="card">
        <img [src]="product.imageUrl" [alt]="product.title" class="card__productImage">
        <div class="container">
            <h2><b>{{product.title | titlecase}}</b></h2>
            <p>{{product.description}}</p>
            <div class="containerPrice">
                <label for="price">Price: </label>
                <span id="price">{{product.price | currency }}</span>
                <div class="icons__container">
                    <img src="assets/cartIcons/cartDown.png" alt="cartDown" class="cartIcon right"
                        (click)="addToCart()">
                    <img src="assets/cartIcons/cartUp.png" alt="cartUp" class="catIcon" (click)="removeFromCart()">
                </div>
            </div>

        </div>
    </div>

</div>


<button (click)="backBtnclicked()" class="btn">Back</button>