.cartIcon {
  cursor: pointer;
}

.right {
  margin-right: 0.3em;
}

.icons__container {
  margin-left: auto;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 6px 6px 6px;
  background-color: white;
}

.card__productImage {
  width: 100%;
  height: 40%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 0 2px 0;
  font-size: 1.2em;
}

.container--page {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.3em;
}

.container--row {
  display: flex;
  justify-content: space-between;
}

.btn {
  border-radius: 30%;
  color: rgb(1, 155, 216);
  border-color: rgb(1, 155, 216);
  background-color: rgb(191, 197, 197);
  width: 8em;
  height: 3em;
  margin-left: 1em;
}
